.container{
    display: flexbox; 
    overflow: auto;
}
.boards{
    gap: 1px;
    border-radius: 10px;
    width: 445px;
    height: auto;
    background-color: #f1f3f9;   
    overflow: auto;  
    margin-top: 5px;
    margin-bottom: auto;
    padding-top: 10px;
    }


.board_title{
    padding-left: 20px; 
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    font-weight: bold;
    font-size: 19px;
    position: absolute !important;
    height: 40px;
    width: 445px;
    padding-bottom: 40px;
    bottom: 550px;
    margin-top: 1px;
    margin-bottom: auto;
    background-color: #f1f3f9;
}

.board_title > span{
    margin-left: 269px;
}

.board-content{
    padding-top: 60px;
    overflow: auto;   
    width: 445px;
    height: auto;
    background-color: #f1f3f9;   
}
