.app_navbar{
    width: 100%;
    padding: 20px 30px;
    border-bottom: 1px solid #ccc;
  }

.search-box{
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 50%;
    left: 90%;
    transform: translate(-50%, -50%);
    background: rgb(80 153 80);
    border-radius: 40px;
    padding: 10px;
}

.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}

.search-btn{
    display: flex;
    flex-direction: row;
    float: right;
    width: 30px;
    color: white;
    height: 30px;
    border-radius: 50%;
    background: rgb(80 153 80);
    justify-content: center;
    justify-self: center;
    align-items: center;
    
}

.search-txt{
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: white;
    font-size: 18px;
    transition: 0.4s;
    line-height: 2%;
    width: 0px;
}

.search-txt::placeholder {
    color: white;
  }
